body{
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom right, rgb(106, 234, 86), rgb(0, 26, 255));
}
.heading{
    width: 100%;
    font-size: large;
    margin-top: 0px;
}
.heading:hover{
    font-size: large;
}
.link{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 80px;
    
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
canvas{
    border-radius: 10px;
    box-shadow: 7px 7px 7px black;
}